.form-check-input {
    border: 1px solid #888;
}

#preview svg {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

.offcanvas-start {
    width: 400px;
    max-width: 90vw;
}

@media (max-width: 576px) {
    .offcanvas-start {
        width: 300px;
    }
}